@import 'assets/styles/_global.scss';

$range-input-header: 12px;

.range {
    width: 100%;
    font-size: 0;
    overflow: hidden;
    position: relative;
}

.input {
    width: 100%;
    height: $range-input-header;
    outline: 0;
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #9a905d;

    &::-webkit-slider-runnable-track {
        height: $range-input-header;
        -webkit-appearance: none;
        color: #13bba4;
        margin-top: -1px;
    }

    &::-webkit-slider-thumb {
        width: $range-input-header;
        height: $range-input-header;
        -webkit-appearance: none;
        cursor: ew-resize;
        background: #434343;
        box-shadow: -1000px 0 0 1000px #43e5f7;
    }

    &::-moz-range-progress {
        background-color: #43e5f7;
    }

    &::-moz-range-track {
        background-color: #9a905d;
    }

    &::-ms-fill-lower {
        background-color: #43e5f7;
    }

    &::-ms-fill-upper {
        background-color: #9a905d;
    }
}
