@import 'assets/styles/_global.scss';

@keyframes bounce {
    0%,
    100% {
        transform: scale(.5);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(204, 169, 44, .4);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.wrapper {
    position: relative;
}

.button {
    width: 18px;
    height: 13px;
    font-size: 0;
    line-height: 1;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    background: none;
    user-select: none;
    text-align: center;

    &:after {
        content: '';
        width: 18px;
        height: 13px;
        display: block;
        position: absolute 0;
        opacity: 0;
        transition: opacity $a-micro-time ease;
        box-shadow: 0 0 0 rgba(204, 169, 44, .4);
    }

    &.started:after {
        opacity: 1;
        animation: pulse 1s infinite;
    }
}

.icon {
    width: 18px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
}
