@import 'assets/styles/_global.scss';

.picker {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.control {
    max-width: 150px;
    position: relative;
}

.input {
    width: 100%;
    height: 32px;
    outline: none;
    padding-left: 16px;
    padding-right: 7px;
    color: $c-input-text;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: $font-family;
    background-color: $c-white;
    border: 1px solid $c-whisper;
    transition: border-color $a-time $a-func, color $a-time $a-func;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;

    @include outline($c-focus-color);

    &:placeholder {
        color: $c-pink-swan;
        opacity: 1;
        transition: opacity $a-time $a-func;
        text-overflow: ellipsis;
    }

    &:focus:placeholder {
        color: transparent;
        opacity: 0;
    }

    &::-ms-clear {
        display: none;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
        display: none;
    }

    &:-webkit-autofill {
        box-shadow: 0 0 0 1000px #fff inset;
    }

    &:disabled {
        opacity: .4;
        cursor: default;
    }
}

.clear {
    width: 10px;
    height: 10px;
    border: 0;
    outline: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 0;
    line-height: 0;
    z-index: 10;
    margin-top: -5px;
    cursor: pointer;
    text-align: center;
    color: $c-pink-swan;
    transition: color $a-time $a-func;
    background: none;

    &:hover {
        color: $c-black;
    }
}

.icon {
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
}

.grill {
    position: absolute;
    left: 7px;
    top: 0;
    bottom: 0;
    z-index: 10;
    color: $c-success;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 32px;
}

.paint {
    width: 32px;
    height: 32px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin-left: 10px;
    background-color: $c-white;
    border: 1px solid $c-whisper;
}
