/* Sizes */
$header-height:                 36px;
$header-request-height:         37px;
$sidebar-width:                 48px;

$aside-width:                   202px;
$aside-padding:                 0;
$content-padding:               15px;

/* Adaptive */
$min-phone:                     320px;
$min-iphone:                    480px;
$min-tablet:                    720px;
$min-desktop:                   1024px;
$min-medium:                    1375px;
$min-large:                     1680px;

$max-iphone:                    479px;
$max-tablet:                    639px;
$max-desktop:                   1023px;
$max-medium:                    1374px;
$max-large:                     1679px;

$layout-width:                  1200px;
$layout-margin:                 42px;

/* Animation */
$a-time:                        .3s;
$a-func:                        linear;
$a-delay:                       0s;
$a-micro-time:                  .15s;
$a-long-time:                   .7s;

$font-base:                     10px;
$font-family:                   'Source Sans Pro', sans-serif;

$p-variations-percent:          10%;

/* System */
$c-normal-color:               rgba(0, 0, 0, .8);
$c-normal-background:          #e6e6e6;

$c-select-color:                #fff;
$c-select-background:           #50d88b;

$c-placeholder-color:           #000;
$c-placeholder-opacity:         .5;

$c-focus-color:                 #ffc000;
$c-input-text:                  #29323d;

/* Colors */
$c-link:                        #656d79;
$c-blue:                        #437fc1;
$c-smalt:                       #00278c;

$c-border:                      #cdcdcd;

$c-cerulean:                    #009ee3;
$c-rangoon-green:               #1a171b;

$c-error:                       #f10;
$c-success:                     #28c75d;
$c-alert:                       #fffce0;
$c-link:                        #07c;
$c-link-visited:                #6ea4db;
$c-secondary:                   #c7c7c7;
$c-bg-secondary:                #f0f0f0;
$c-help:                        #999;

$c-black:                       #000;
$c-white:                       #fff;
$c-snow:                        #fafafa;
$c-gainsboro:                   #e1e1e1;
$c-cobalt:                      #00529f;
$c-silver:                      #ccc;
$c-roman:                       #e65d5b;

$c-smalt:                       #063d8d;
$c-whisper:                     #e5e5e5;
$c-pink-swan:                   #b3b3b3;
$c-light-blue:                  #b5d7ec;
$c-carrot-orange:               #f8991c;
$c-dark-gray:                   #a4a4a4;

$c-amaranth:                    #e2394e;

$c-white-smoke:                 #f7f7f7;

$c-lighter-color:               #b3b3b3;

/* New colors */
$c-red:                         #ff564e;
$c-green:                       #28bc00;
$c-yellow:                      #ffc000;

/* buttons */

$c-button-link:                 #266ed8;
$c-button-subtle-link:          #6b778c;

$c-normal-color:                #212938;
$c-normal-border:               #e4e4e4;
$c-normal-background:           #e9ebef;
$c-normal-background-hover:     #ececec;

$c-primary-color:               #fff;
$c-primary-border:              #266ed8;
$c-primary-background:          #266ed8;
$c-primary-background-hover:    #0065ff;

$c-info-color:                  #fff;
$c-info-border:                 #11a3d2;
$c-info-background:             #0fa7d8;

$c-success-color:               #f4fffb;
$c-success-border:              #d6facf;
$c-success-background:          #00c853;

$c-warning-color:               #631611;
$c-warning-border:              #fcd669;
$c-warning-background:          #fcd669;
$c-warning-background-hover:    #fdc318;

$c-danger-color:                #fff;
$c-danger-border:               #fff7ee;
$c-danger-background:           #f9552e;
