@import 'assets/styles/_global.scss';

.requests {
    position: absolute 36px 0 auto;
    width: 100%;
    height: $header-request-height;
    font-size: 0;
    display: flex;
    line-height: 1;
    white-space: nowrap;
    align-items: center;
    padding-left: $sidebar-width + $content-padding;
    padding-right: $content-padding;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(#000, .1);
}

.right {
    float: right;
}

.button {
    color: rgb(102, 102, 102);
    border: 0;
    padding: 0;
    outline: 0;
    cursor: pointer;
    line-height: 1;
    font-size: 1.4rem;
    white-space: nowrap;
    display: inline-block;
    background: none;

    &:not(:last-child) {
        margin-right: 30px;
    }
}
