@import 'assets/styles/_global.scss';

.group {
    width: 100%;
    font-size: 0;
    position: relative;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px solid #fa0;

    &:before,
    &:after {
        content: '';
        width: 20px;
        height: 1px;
        background-color: #fa0;
        position: absolute;
        left: 0;
    }

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }
}

.connect {
    color: #fff;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: -9px;
    margin-top: -9px;
    border-radius: 50%;
    z-index: 100;
    line-height: 18px;
    text-align: center;
    background-color: #fa0;
}

.icon {
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
}

.control {
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}
