@mixin outline($color, $shadow-size: 2, $box-shadow: true, $text-shadow: false) {
    outline: 0;

    &:focus {
        @if $box-shadow == true {
            box-shadow: 0 0 0 #{$shadow-size}px #fff, 0 0 0 #{$shadow-size * 2}px $color;
        }

        @if $text-shadow == true {
            text-shadow: 1px 1px 0 $color;
        }

        @else {
            box-shadow: 0 0 0 #{$shadow-size}px rgba($color, .5);
        }
    }
}
